<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('<%= image_path 'background.jpeg' %>');">
  <div class="banner-content">
    <h1>Crossfit Watchman</h1>
    <p>Forging Elite Fitness</p>
    <a class="btn btn-primary">Find out more</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= render 'pages/homepage_card', title: 'About us', subtitle: 'Find out about our team', photo: 'crossfit-photo-1.jpg', path: 'about' %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= render 'pages/homepage_card', title: 'Timetable', subtitle: 'See our weekly programme', photo: 'crossfit-photo-2.jpg', path: 'programme' %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= render 'pages/homepage_card', title: 'Prices', subtitle: 'Check out our prices', photo: 'crossfit-photo-3.jpg', path: 'pricing' %>
    </div>
  </div>
<!--   <div class="row">
    <div class="col-xs-12 col-sm-7 text-center">
      <%= image_tag 'crossfit-photo-1.jpg', class: 'photo-large photo-border' %>
    </div>
    <div class="col-xs-6 offset-xs-3 col-sm-5 text-center">
      <div class="photo-text text-center">
        <h1>Timetable</h1>
        <%= link_to lessons_path, class: 'homepage-link' do %>
          <p>See our weekly programme <i class="fas fa-arrow-circle-right"></i></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 offset-xs-3 col-sm-5 text-center">
      <div class="photo-text">
        <h1>Pricing</h1>
        <%= link_to pricing_path, class: 'homepage-link' do %>
          <p>Check out our pricing <i class="fas fa-arrow-circle-right"></i></p>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-7 hidden-xs text-center">
      <%= image_tag 'crossfit-photo-2.jpg', class: 'photo-large photo-border' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-7 hidden-xs text-center">
      <%= image_tag 'crossfit-photo-3.jpg', class: 'photo-large photo-border' %>
    </div>
    <div class="col-xs-6 offset-xs-3 col-sm-5 text-center">
      <div class="photo-text">
        <h1>About us</h1>
        <%= link_to about_path, class: 'homepage-link' do %>
          <p>Find out about our team <i class="fas fa-arrow-circle-right"></i></p>
        <% end %>
      </div>
    </div>
  </div> -->
</div>
