<%= render 'shared/page_title', title: "Our Timetable" %>
<div class="container padded">
  <div class="row">
    <div class="col-xs-12">
      <% @lessons.each do |lesson| %>
        <ul class="list-inline">
          <li><h3><%= lesson.title %></h3></li>
          <li><p>by <%= lesson.instructor.full_name %></p></li>
        </ul>

        <p><strong>When:</strong> <%= lesson.start_time.strftime('%H:%M') %> to <%= lesson.end_time.strftime('%H:%M') %>, every <%= lesson.start_time.strftime('%A') %></p>
        <p><strong>What:</strong> <%= lesson.description %></p>
      <% end %>
    </div>
  </div>
</div>
