<%= render 'shared/page_title', title: "Our Timetable" %>
<div class="container padded">
  <div class="row">
    <div class="col-xs-12">
      <%= month_calendar events: @lessons do |date, lessons| %>
        <%= date.strftime("%e") %>

        <% lessons.each do |lesson| %>
          <div class="event-details">
            <%= lesson.title %>
            <br>
            <%= lesson.start_time.strftime("%H:%M") %> - <%= lesson.end_time.strftime("%H:%M") %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
