<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag 'logo.jpg', alt: "logo" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs">
    <div class="page-links">
      <%= link_to "About us", about_path, class: 'navbar-wagon-item navbar-wagon-link' %>
      <%= link_to "Join us", join_path, class: 'navbar-wagon-item navbar-wagon-link' %>
      <%= link_to "Contact us", contact_path, class: 'navbar-wagon-item navbar-wagon-link' %>
    </div>
    <div class="navbar-social-links hidden-sm">
      <a href="https://www.instagram.com/crossfitwatchman/" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
    <% if instructor_signed_in? %>
      <div>
        <%= link_to "Admin", rails_admin_path, class: "btn btn-primary" %>
        <%= link_to "Sign out", destroy_instructor_session_path, method: :delete, class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
  <!-- Mobile Dropdown -->
  <div class="navbar-wagon-item hidden-sm hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "About us", about_path %></li>
        <li><%= link_to "Join us", join_path %></li>
        <li><%= link_to "Contact us", contact_path %></li>
      </ul>
    </div>
  </div>
</div>
