<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag 'logo.jpeg', alt: "logo" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs">
    <div class="page-links">
      <%= link_to "About us", about_path, class: 'navbar-wagon-item navbar-wagon-link' %>
      <%= link_to "Timetable", lessons_path, class: 'navbar-wagon-item navbar-wagon-link' %>
      <%= link_to "Join us", join_path, class: 'navbar-wagon-item navbar-wagon-link' %>
      <%= link_to "Contact us", contact_path, class: 'navbar-wagon-item navbar-wagon-link' %>
    </div>
    <div class="social-links hidden-sm">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
  <!-- Mobile Dropdown -->
  <div class="navbar-wagon-item hidden-sm hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "About us", about_path %></li>
        <li><%= link_to "Timetable", lessons_path %></li>
        <li><%= link_to "Join us", join_path %></li>
        <li><%= link_to "Contact us", contact_path %></li>
      </ul>
    </div>
  </div>
</div>
